{% extends 'layout.html' %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}
  <div class="container mt-3">
    <h1>{{title}}</h1>
    <hr>
    <div class="card mt-3 mb-3">
      <div class="card-header">
        <h2>Change Password</h2>
      </div>
      <div class="card-body">
        <form method="post">
          <div class="mb-3">
            <label for="old_password" class="form-label">Old Password</label>
            <input name="old_password" type="password" class="form-control" id="old_password" required>
          </div>
          <div class="mb-3">
            <label for="new_password" class="form-label">New Password</label>
            <input name="new_password" type="password" class="form-control" id="new_password" required>
          </div>
          <div class="mb-3">
            <label for="confirm_new_password" class="form-label">Confirm New Password</label>
            <input name="confirm_new_password" type="password" class="form-control" id="confirm_new_password" required>
          </div>
          <hr>
          <button type="submit" class="btn btn-outline-secondary">
            <i class="bi bi-ui-checks-grid"></i>
            Change Password</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}


